# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
chat_venv/

# Environment variables
*.env.dev/
*.env.stage/
*.env.prod/


# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
